NHÓM 2 - Lý Văn Cường - K225480106100/code/flow.json
[
    {
        "id": "e4a29a0a.a27d28",
        "type": "tab",
        "label": "1. Auth (Không Mã Hóa)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a9b3c1d2.e8f7a",
        "type": "tab",
        "label": "2. Profile (Đã Sửa Lỗi)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1c2d3e4.f5a6b7",
        "type": "tab",
        "label": "3. Owner (ĐÃ NÂNG CẤP)",
        "disabled": false,
        "info": "Thêm API Get/Approve Bookings"
    },
    {
        "id": "21d431bcbdcb2fbc",
        "type": "tab",
        "label": "4. Player (Full Features)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "245bc81e9433b433",
        "type": "MySQLdatabase",
        "name": "",
        "host": "mysql-2b420606-lyvancuongklbg-6918.e.aivencloud.com",
        "port": "27739",
        "db": "defaultdb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "http-response-options-main",
        "type": "http response",
        "z": "e4a29a0a.a27d28",
        "name": "Trả về Headers CORS",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "POST, GET, PUT, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
        },
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "http-in-reg-options",
        "type": "http in",
        "z": "e4a29a0a.a27d28",
        "name": "Bắt OPTIONS (Register)",
        "url": "/api/auth/register",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "http-response-options-main"
            ]
        ]
    },
    {
        "id": "http-in-reg-post",
        "type": "http in",
        "z": "e4a29a0a.a27d28",
        "name": "POST /api/auth/register",
        "url": "/api/auth/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "f-register-1"
            ]
        ]
    },
    {
        "id": "f-register-1",
        "type": "function",
        "z": "e4a29a0a.a27d28",
        "name": "Func 1: Insert User (No-Hash)",
        "func": "var p = msg.payload; \nvar role = p.role || 'player';\nmsg.topic = \"INSERT INTO users (email, password_hash, role) VALUES (?, ?, ?)\";\nmsg.payload = [ p.email, p.password, role ]; \nmsg.profileData = {\n    display_name: p.display_name\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "mysql-1"
            ]
        ]
    },
    {
        "id": "mysql-1",
        "type": "mysql",
        "z": "e4a29a0a.a27d28",
        "mydb": "245bc81e9433b433",
        "name": "Aiven DB",
        "x": 660,
        "y": 320,
        "wires": [
            [
                "f-register-2"
            ]
        ]
    },
    {
        "id": "f-register-2",
        "type": "function",
        "z": "e4a29a0a.a27d28",
        "name": "Func 2: Insert Profile (ĐÃ SỬA)",
        "func": "var newUserId = msg.payload.insertId;\nif (!newUserId) {\n    msg.statusCode = 500;\n    msg.payload = { \"error\": \"Không tạo được user chính.\" };\n    return msg;\n}\nvar profile = msg.profileData;\nmsg.topic = \"INSERT INTO user_profiles (user_id, display_name) VALUES (?, ?)\";\nmsg.payload = [ newUserId, profile.display_name ];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "mysql-1"
            ]
        ]
    },
    {
        "id": "f-register-3",
        "type": "function",
        "z": "e4a29a0a.a27d28",
        "name": "Func 3: Phản hồi Register",
        "func": "msg.statusCode = 201; \nmsg.payload = { \"message\": \"Đăng ký thành công!\" };\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 380,
        "wires": [
            [
                "http-response-post"
            ]
        ]
    },
    {
        "id": "http-response-post",
        "type": "http response",
        "z": "e4a29a0a.a27d28",
        "name": "Trả về POST/GET",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "http-in-login-options",
        "type": "http in",
        "z": "e4a29a0a.a27d28",
        "name": "Bắt OPTIONS (Login)",
        "url": "/api/auth/login",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "http-response-options-main"
            ]
        ]
    },
    {
        "id": "http-in-login-post",
        "type": "http in",
        "z": "e4a29a0a.a27d28",
        "name": "POST /api/auth/login",
        "url": "/api/auth/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "f-login-1"
            ]
        ]
    },
    {
        "id": "f-login-1",
        "type": "function",
        "z": "e4a29a0a.a27d28",
        "name": "Func 1: Build SQL Đăng nhập",
        "func": "var p = msg.payload; \nmsg.topic = \"SELECT * FROM users u JOIN user_profiles p ON u.id = p.user_id WHERE u.email = ?\";\nmsg.payload = [p.email];\nmsg.plain_password = p.password; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 520,
        "wires": [
            [
                "mysql-login-1"
            ]
        ]
    },
    {
        "id": "mysql-login-1",
        "type": "mysql",
        "z": "e4a29a0a.a27d28",
        "mydb": "245bc81e9433b433",
        "name": "Aiven DB",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "f-login-2"
            ]
        ]
    },
    {
        "id": "f-login-2",
        "type": "function",
        "z": "e4a29a0a.a27d28",
        "name": "Func 2: Check Pass (No-Hash)",
        "func": "var user = msg.payload[0];\nvar password_from_user = msg.plain_password; \n\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\nif (!user) {\n    msg.statusCode = 404;\n    msg.payload = { \"error\": \"Email không tồn tại\" };\n    return msg;\n}\nif (user.password_hash !== password_from_user) {\n    msg.statusCode = 401; \n    msg.payload = { \"error\": \"Sai mật khẩu\" };\n    return msg;\n}\ndelete user.password_hash;\nmsg.payload = user;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            [
                "http-response-post"
            ]
        ]
    },
    {
        "id": "http-response-cors-generic",
        "type": "http response",
        "z": "a9b3c1d2.e8f7a",
        "name": "Trả về Headers CORS",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "POST, GET, PUT, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
        },
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "http-options-profile",
        "type": "http in",
        "z": "a9b3c1d2.e8f7a",
        "name": "OPTIONS /api/profile",
        "url": "/api/profile",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "http-response-cors-generic"
            ]
        ]
    },
    {
        "id": "http-in-put-profile",
        "type": "http in",
        "z": "a9b3c1d2.e8f7a",
        "name": "PUT /api/profile (Cập nhật)",
        "url": "/api/profile",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "f-profile-1"
            ]
        ]
    },
    {
        "id": "f-profile-1",
        "type": "function",
        "z": "a9b3c1d2.e8f7a",
        "name": "Build SQL Update Profile (ĐÃ SỬA)",
        "func": "var p = msg.payload; // { user_id, display_name, first_name, last_name, phone_number, bio }\n\n// ĐÂY LÀ CHỖ SỬA LỖI:\nmsg.topic = \"UPDATE user_profiles SET display_name = ?, first_name = ?, last_name = ?, phone_number = ?, bio = ? WHERE user_id = ?\";\nmsg.payload = [p.display_name, p.first_name, p.last_name, p.phone_number, p.bio, p.user_id];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "mysql-profile-1"
            ]
        ]
    },
    {
        "id": "mysql-profile-1",
        "type": "mysql",
        "z": "a9b3c1d2.e8f7a",
        "mydb": "245bc81e9433b433",
        "name": "Aiven DB",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "f-profile-2"
            ]
        ]
    },
    {
        "id": "f-profile-2",
        "type": "function",
        "z": "a9b3c1d2.e8f7a",
        "name": "Phản hồi Update",
        "func": "msg.headers = { 'Access-Control-Allow-Origin': '*' };\nif (msg.payload.affectedRows > 0) {\n    msg.payload = { \"message\": \"Cập nhật profile thành công!\" };\n} else {\n    msg.statusCode = 404;\n    msg.payload = { \"error\": \"Không tìm thấy user_id để cập nhật\" };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "http-response-generic"
            ]
        ]
    },
    {
        "id": "http-response-generic",
        "type": "http response",
        "z": "a9b3c1d2.e8f7a",
        "name": "Trả về Kết quả",
        "statusCode": "",
        "headers": {},
        "x": 1100,
        "y": 200,
        "wires": []
    },
    {
        "id": "http-response-cors-owner",
        "type": "http response",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Trả về Headers CORS",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "POST, GET, PUT, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
        },
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "options-venues",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "OPTIONS /api/venues",
        "url": "/api/venues",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "http-response-cors-owner"
            ]
        ]
    },
    {
        "id": "post-venues",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "POST /api/venues (Tạo)",
        "url": "/api/venues",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "f-venue-1"
            ]
        ]
    },
    {
        "id": "f-venue-1",
        "type": "function",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Build SQL Create Venue",
        "func": "var p = msg.payload; // { owner_id, name, address }\n\nmsg.topic = \"INSERT INTO venues (owner_id, name, address) VALUES (?, ?, ?)\";\nmsg.payload = [p.owner_id, p.name, p.address];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "mysql-owner-1"
            ]
        ]
    },
    {
        "id": "mysql-owner-1",
        "type": "mysql",
        "z": "b1c2d3e4.f5a6b7",
        "mydb": "245bc81e9433b433",
        "name": "Aiven DB",
        "x": 660,
        "y": 260,
        "wires": [
            [
                "f-owner-respond"
            ]
        ]
    },
    {
        "id": "f-owner-respond",
        "type": "function",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Phản hồi (Chung)",
        "func": "msg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 260,
        "wires": [
            [
                "http-response-owner"
            ]
        ]
    },
    {
        "id": "http-response-owner",
        "type": "http response",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Trả về Kết quả",
        "statusCode": "",
        "headers": {},
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "options-my-venues",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "OPTIONS /api/venues/my-venues",
        "url": "/api/venues/my-venues",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "http-response-cors-owner"
            ]
        ]
    },
    {
        "id": "get-my-venues",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "GET /api/venues/my-venues",
        "url": "/api/venues/my-venues",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "f-venue-2"
            ]
        ]
    },
    {
        "id": "f-venue-2",
        "type": "function",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Build SQL Get My Venues",
        "func": "// Lấy user_id từ query string (ví dụ: ?owner_id=1)\nvar owner_id = msg.req.query.owner_id;\n\nmsg.topic = \"SELECT * FROM venues WHERE owner_id = ?\";\nmsg.payload = [owner_id];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "mysql-owner-1"
            ]
        ]
    },
    {
        "id": "options-courts",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "OPTIONS /api/courts",
        "url": "/api/courts",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "http-response-cors-owner"
            ]
        ]
    },
    {
        "id": "get-courts",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "GET /api/courts (Theo Venue)",
        "url": "/api/courts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "f-court-1"
            ]
        ]
    },
    {
        "id": "f-court-1",
        "type": "function",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Build SQL Get Courts",
        "func": "// Lấy venue_id từ query string (ví dụ: ?venue_id=1)\nvar venue_id = msg.req.query.venue_id;\n\nmsg.topic = \"SELECT * FROM courts WHERE venue_id = ?\";\nmsg.payload = [venue_id];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 400,
        "wires": [
            [
                "mysql-owner-1"
            ]
        ]
    },
    {
        "id": "post-courts",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "POST /api/courts (Tạo Sân)",
        "url": "/api/courts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "f-court-2"
            ]
        ]
    },
    {
        "id": "f-court-2",
        "type": "function",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Build SQL Create Court",
        "func": "var p = msg.payload; // { venue_id, sport_id, name, price_per_hour }\n\nmsg.topic = \"INSERT INTO courts (venue_id, sport_id, name, price_per_hour, status) VALUES (?, ?, ?, ?, 'open')\";\nmsg.payload = [p.venue_id, p.sport_id, p.name, p.price_per_hour];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "mysql-owner-1"
            ]
        ]
    },
    {
        "id": "options-bookings-owner",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "OPTIONS /api/bookings/owner",
        "url": "/api/bookings/owner",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "http-response-cors-owner"
            ]
        ]
    },
    {
        "id": "get-bookings-owner",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "GET /api/bookings/owner (MỚI)",
        "url": "/api/bookings/owner",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "f-booking-1"
            ]
        ]
    },
    {
        "id": "f-booking-1",
        "type": "function",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Build SQL Get Pending Bookings",
        "func": "var owner_id = msg.req.query.owner_id;\n\n// Lấy các booking đang chờ, JOIN 3 bảng để lấy tên Sân, tên Trận\nvar sql = `\n    SELECT b.id, b.status, m.title, m.start_time, m.end_time, c.name as court_name, b.total_price \n    FROM bookings b \n    JOIN matches m ON b.match_id = m.id\n    JOIN courts c ON b.court_id = c.id\n    WHERE b.owner_id = ? AND b.status = 'pending'\n    ORDER BY b.requested_at ASC\n`;\n\nmsg.topic = sql;\nmsg.payload = [owner_id];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "mysql-owner-1"
            ]
        ]
    },
    {
        "id": "options-booking-action",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "OPTIONS /api/bookings/action",
        "url": "/api/bookings/action",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "http-response-cors-owner"
            ]
        ]
    },
    {
        "id": "put-booking-action",
        "type": "http in",
        "z": "b1c2d3e4.f5a6b7",
        "name": "PUT /api/bookings/action (MỚI)",
        "url": "/api/bookings/action",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "f-booking-2"
            ]
        ]
    },
    {
        "id": "f-booking-2",
        "type": "function",
        "z": "b1c2d3e4.f5a6b7",
        "name": "Build SQL Approve/Reject",
        "func": "var p = msg.payload; // { owner_id, booking_id, action: 'approve' | 'reject' }\n\nvar newStatus = '';\nif (p.action === 'approve') {\n    newStatus = 'payment_pending'; // Đổi thành 'chờ thanh toán'\n} else if (p.action === 'reject') {\n    newStatus = 'rejected'; // Đổi thành 'từ chối'\n} else {\n    msg.statusCode = 400;\n    msg.payload = { \"error\": \"Hành động không hợp lệ\" };\n    return msg;\n}\n\nmsg.topic = \"UPDATE bookings SET status = ? WHERE id = ? AND owner_id = ? AND status = 'pending'\";\nmsg.payload = [newStatus, p.booking_id, p.owner_id];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 700,
        "wires": [
            [
                "mysql-owner-1"
            ]
        ]
    },
    {
        "id": "9abdb75228a27ac4",
        "type": "http response",
        "z": "21d431bcbdcb2fbc",
        "name": "Trả về Headers CORS",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "POST, GET, PUT, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
        },
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "e4a891055cc9bc52",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "OPTIONS /api/matches/open",
        "url": "/api/matches/open",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "9abdb75228a27ac4"
            ]
        ]
    },
    {
        "id": "481ee85e6b216604",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "GET /api/matches/open (MỚI)",
        "url": "/api/matches/open",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "71e0c13ec451df0a"
            ]
        ]
    },
    {
        "id": "71e0c13ec451df0a",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "SQL: Get Open Matches",
        "func": "// Lấy các trận đấu:\n// 1. Đã được chủ sân duyệt (booking status IN payment_pending, confirmed)\n// 2. Chưa kết thúc (end_time > NOW)\n\nvar sql = `\n    SELECT \n        m.id, m.title, m.start_time, m.end_time, m.max_players,\n        c.name as court_name, v.name as venue_name, v.address,\n        s.name as sport_name,\n        (SELECT COUNT(*) FROM match_participants mp WHERE mp.match_id = m.id) as current_players\n    FROM matches m\n    JOIN bookings b ON m.id = b.match_id\n    JOIN courts c ON b.court_id = c.id\n    JOIN venues v ON c.venue_id = v.id\n    JOIN sports s ON m.sport_id = s.id\n    WHERE b.status IN ('payment_pending', 'confirmed')\n      AND m.end_time > NOW()\n    ORDER BY m.start_time ASC\n`;\n\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 120,
        "wires": [
            [
                "4b9fa45a2a5930fd"
            ]
        ]
    },
    {
        "id": "ac14b6d16ce3e023",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "OPTIONS /api/matches/join",
        "url": "/api/matches/join",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "9abdb75228a27ac4"
            ]
        ]
    },
    {
        "id": "219fb74f962717c1",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "POST /api/matches/join (MỚI)",
        "url": "/api/matches/join",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "4693d4f77b622a09"
            ]
        ]
    },
    {
        "id": "4693d4f77b622a09",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "SQL: Join Match",
        "func": "var p = msg.payload; // { match_id, user_id }\n\n// Đơn giản hóa: Insert thẳng. Nếu trùng (đã join rồi) sẽ báo lỗi DB.\n// Trong thực tế cần check max_players trước.\n\n// Dùng Template Literal để tránh lỗi '?'\nmsg.topic = `INSERT INTO match_participants (match_id, user_id) VALUES (${p.match_id}, ${p.user_id})`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "4b9fa45a2a5930fd"
            ]
        ]
    },
    {
        "id": "4b9fa45a2a5930fd",
        "type": "mysql",
        "z": "21d431bcbdcb2fbc",
        "mydb": "245bc81e9433b433",
        "name": "Aiven DB",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "44fd0e97cc79a627"
            ]
        ]
    },
    {
        "id": "44fd0e97cc79a627",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "Phản hồi (Chung)",
        "func": "msg.headers = { 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "945d4a622d97dfeb"
            ]
        ]
    },
    {
        "id": "945d4a622d97dfeb",
        "type": "http response",
        "z": "21d431bcbdcb2fbc",
        "name": "Trả về Kết quả",
        "statusCode": "",
        "headers": {},
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "143a05cf570c5732",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "OPTIONS /api/sports",
        "url": "/api/sports",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "9abdb75228a27ac4"
            ]
        ]
    },
    {
        "id": "1909e97b8e081a7a",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "GET /api/sports",
        "url": "/api/sports",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "cca071d3f0d9f163"
            ]
        ]
    },
    {
        "id": "cca071d3f0d9f163",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "SQL: Get Sports",
        "func": "msg.topic = \"SELECT * FROM sports\";\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "4b9fa45a2a5930fd"
            ]
        ]
    },
    {
        "id": "77c17a2fe94b308e",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "OPTIONS /api/courts/search",
        "url": "/api/courts/search",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "9abdb75228a27ac4"
            ]
        ]
    },
    {
        "id": "3aec83d27b6ce9a9",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "GET /api/courts/search",
        "url": "/api/courts/search",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "228eaa9eca9e0972"
            ]
        ]
    },
    {
        "id": "228eaa9eca9e0972",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "SQL: Search Courts",
        "func": "var q = msg.req.query;\nmsg.headers = { 'Access-Control-Allow-Origin': '*' };\n\nif (!q.sport_id || !q.start || !q.end) {\n    msg.statusCode = 400;\n    msg.payload = { \"error\": \"Thiếu thông tin\" };\n    return msg;\n}\n\n// SQL Tìm Sân Trống (Như cũ)\nvar sql = `\n    SELECT c.*, v.name as venue_name, v.address, v.owner_id \n    FROM courts c\n    JOIN venues v ON c.venue_id = v.id\n    WHERE c.sport_id = ${q.sport_id} \n      AND c.status = 'open'\n      AND c.id NOT IN (\n          SELECT b.court_id \n          FROM bookings b\n          JOIN matches m ON b.match_id = m.id\n          WHERE b.status IN ('confirmed', 'payment_pending', 'approved', 'pending')\n            AND (\n                (m.start_time < '${q.end}') AND (m.end_time > '${q.start}')\n            )\n      )\n`;\n\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "4b9fa45a2a5930fd"
            ]
        ]
    },
    {
        "id": "a1553cd97b6a5a24",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "OPTIONS /api/matches",
        "url": "/api/matches",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "9abdb75228a27ac4"
            ]
        ]
    },
    {
        "id": "60e05e7d17d4c001",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "POST /api/matches (Tạo)",
        "url": "/api/matches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "75598c800f2279fc"
            ]
        ]
    },
    {
        "id": "75598c800f2279fc",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "SQL: Create Match",
        "func": "var p = msg.payload;\n\nmsg.bookingData = {\n    court_id: p.court_id,\n    user_id: p.creator_id,\n    owner_id: p.owner_id,\n    total_price: p.total_price\n};\n\nmsg.topic = `INSERT INTO matches (creator_id, sport_id, title, start_time, end_time) VALUES (${p.creator_id}, ${p.sport_id}, '${p.title}', '${p.start_time}', '${p.end_time}')`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 680,
        "wires": [
            [
                "22f755dc31859e9a"
            ]
        ]
    },
    {
        "id": "22f755dc31859e9a",
        "type": "mysql",
        "z": "21d431bcbdcb2fbc",
        "mydb": "245bc81e9433b433",
        "name": "Aiven DB",
        "x": 680,
        "y": 740,
        "wires": [
            [
                "7aaff4553f43446e"
            ]
        ]
    },
    {
        "id": "7aaff4553f43446e",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "SQL: Create Booking",
        "func": "var newMatchId = msg.payload.insertId;\nvar b = msg.bookingData;\n\nif (!newMatchId) {\n    msg.statusCode = 500;\n    msg.payload = { \"error\": \"Lỗi tạo trận\" };\n    return msg;\n}\n\n// Tự động thêm người tạo trận vào danh sách tham gia\nmsg.participantSQL = `INSERT INTO match_participants (match_id, user_id) VALUES (${newMatchId}, ${b.user_id})`;\n\nmsg.topic = `INSERT INTO bookings (match_id, court_id, user_id, owner_id, total_price, status) VALUES (${newMatchId}, ${b.court_id}, ${b.user_id}, ${b.owner_id}, ${b.total_price}, 'pending')`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "6eaaea7dc7ced613"
            ]
        ]
    },
    {
        "id": "6eaaea7dc7ced613",
        "type": "mysql",
        "z": "21d431bcbdcb2fbc",
        "mydb": "245bc81e9433b433",
        "name": "Aiven DB",
        "x": 680,
        "y": 800,
        "wires": [
            [
                "2a1c7d43350a1047"
            ]
        ]
    },
    {
        "id": "2a1c7d43350a1047",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "SQL: Auto Join Creator",
        "func": "// Chạy thêm lệnh insert vào match_participants\nmsg.topic = msg.participantSQL;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 800,
        "wires": [
            [
                "4b9fa45a2a5930fd"
            ]
        ]
    },
    {
        "id": "opt-my-matches",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "OPTIONS /api/matches/mine",
        "url": "/api/matches/mine",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 580,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "get-my-matches",
        "type": "http in",
        "z": "21d431bcbdcb2fbc",
        "name": "GET /api/matches/mine",
        "url": "/api/matches/mine",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 570,
        "y": 980,
        "wires": [
            [
                "f-get-my-matches"
            ]
        ]
    },
    {
        "id": "f-get-my-matches",
        "type": "function",
        "z": "21d431bcbdcb2fbc",
        "name": "SQL: Get My Matches",
        "func": "var user_id = msg.req.query.user_id;\n\n// Lấy tất cả trận mà user này ĐÃ THAM GIA (là creator hoặc participant)\n// Kèm theo thông tin sân, giờ, và tổng số người hiện tại\nvar sql = `\n    SELECT \n        m.id, m.title, m.start_time, m.end_time, \n        c.name as court_name, v.name as venue_name, v.address,\n        s.name as sport_name,\n        b.status as booking_status,\n        (SELECT COUNT(*) FROM match_participants mp2 WHERE mp2.match_id = m.id) as current_players\n    FROM matches m\n    JOIN match_participants mp ON m.id = mp.match_id\n    JOIN bookings b ON m.id = b.match_id\n    JOIN courts c ON b.court_id = c.id\n    JOIN venues v ON c.venue_id = v.id\n    JOIN sports s ON m.sport_id = s.id\n    WHERE mp.user_id = ${user_id}\n    ORDER BY m.start_time DESC\n`;\n\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 980,
        "wires": [
            []
        ]
    }
]